# First Agate Assignment

With this assignment, we need to import some data, filter out non-UNL campuses and calculate a average salary and a median salart for all UNL employees. The first step is always import the libraries you need. For now and the forseeable future, we just need Agate.

In [2]:
import agate

Let's add some data.

In [5]:
salaries = agate.Table.from_csv('../../Data/nusalaries1415.csv')

In [7]:
print(salaries)

|-------------------+---------------|
|  column_names     | column_types  |
|-------------------+---------------|
|  ID               | Number        |
|  Campus           | Text          |
|  DepartmentNumber | Date          |
|  DepartmentName   | Text          |
|  CostElement      | Number        |
|  Name             | Text          |
|  Title            | Text          |
|  Position         | Number        |
|  Class            | Number        |
|  Term             | Number        |
|  FTE              | Number        |
|  Salary           | Number        |
|-------------------+---------------|

Now we just want UNL, so we need to filter those out.

In [8]:
unl = salaries.where(lambda row: row['Campus'] is 'University of Nebraska-Lincoln')

In [9]:
print(len(unl.rows))

0

Uh oh. How could this be? The answer is almost always a bad filter condition. In this case, it's not title cased, it should be all caps. And there's a space between the dash on both sides.

In [10]:
unl = salaries.where(lambda row: row['Campus'] is 'UNIVERSITY OF NEBRASKA - LINCOLN')

In [11]:
print(len(unl.rows))

0

Now, what the hell? That should work, right? Well, not exactly. We need to set our row equal to UNIVERISTY ... and we can't use the regular `=` to do it. We need to use `==` which in Python is actually equal to. The single equal sign is for assigning varables.

In [12]:
unl = salaries.where(lambda row: row['Campus'] == 'UNIVERSITY OF NEBRASKA - LINCOLN')

In [13]:
print(len(unl.rows))

6948

That's better. Now let's create an average salary.